<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Add Note</title>
</head>

<body>
    <nav>
        <h4>York Medical Records Management System</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" class="avatar" alt="user profile picture" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@{{user.username}}</h5>
                        {{#if (is_admin user.is_admin)}}
                        <p class="card-text">Manage care providers and patients.</p>
                        <p></p>
                        <a href="/careproviders" class="btn btn-primary">Care Providers</a>
                        <p></p>
                        <a href="/patients" class="btn btn-primary">Patients</a>
                        {{else}}
                        <p class="card-text">Manage patients.</p>
                        <p></p>
                        <a href="/patients" class="btn btn-primary">Patients</a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="col-8">
                {{#if message }}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
                {{/if}}
                <div class="card">
                    <div class="card-header">
                        Add Note
                    </div>
                    <div class="card-body">
                        <form action="/auth/add-note/{{patientId}}/{{user.id}}" method="POST">
                            <div class="form-group">
                                <label for="note">Note</label>
                                <textarea class="form-control" id="note" name="note"></textarea>
                            </div>
                            <p></p>
                            <button type="submit" class="btn btn-success">Add Note</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
</body>

</html>